.recallCardContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;


}

.recallCard{
	margin: 5px;
	padding: 5px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	width:50%;
}

.cardTitle{
	color: #1A1446;
	font-size: medium;
	font-style: bolder;
}

.cardLink{
	color: #06748C;
}