.trash{
    width:10px;
    height: 10px;
}

.trashButton{
    padding: 3px;
    border-radius: 3px;
    margin: 10px 10px -6px 0px;
}
.trashButton:hover{
    box-shadow: 2px 2px 2px rgb(221, 220, 220);
    border: .5px solid rgb(221, 220, 220);
}

.trashCanContainer {
    width: 100%;
    height:1.5em;
    display: flex;
    justify-content: end;
    border-radius: 2px;
    }