@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.App{
	max-width:100%;
	display:flex;
	flex-direction: column;;
	justify-content: center;
}

*{
	font-family: roboto;
}


.appHeader{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #1A1446;
	font-size: large;
	background-color: #FFD000;
}

.appContainer{

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	margin: 20px 20px 20px 20px;
	border-radius: 10px;;
	background-color: #F5F5F5;

}

/* .checkerContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
} */
/* 
.driverSelectorLabel{
	padding: 2px;
	color: #1A1446;
	font-size: medium;
	font-style: bolder;
	display:flex;
	justify-content: center;
} */

/* .driverSelectorDropdown{
	margin-bottom: 3px;

} */

/* .recallSubmitButton {
	margin:15px;
	background-color:#1AFFFF;
	border-color: #06748C;
	border-radius: 5px;
} */


