

/*-------------------------------------------------------------------------*/

.appHeader{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #1A1446;
	font-size: large;
	background-color: #FFD000;
}

.appContainer{
	border: 5px solid #1A1446;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 50px;
	margin: 5px 10px 5px 10px;
	background-color: #F5F5F5;
	border-radius: 7px;
}

.checkerContainer{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.driverSelectorLabel{
	padding: 2px;
	color: #1A1446;
	font-size: medium;
	font-style: bolder;
	display:flex;
	justify-content: center;
}

.driverSelectorDropdown{
	margin-bottom: 3px;
	border-radius: 3px;
}

.recallSubmitButton {
	margin:15px;
	background-color:#1AFFFF;
	border-color: #06748C;
	border-radius: 5px;
}

.recallListContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:space-around;
	margin: 10px;
	border: 2px solid black;
}
