@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

.App{
	max-width:100%;
	display:flex;
	flex-direction: column;;
	justify-content: center;
}

*{
	font-family: roboto;
}


.appHeader{
	display: flex;
	flex-direction: row;
	justify-content: center;
	color: #1A1446;
	font-size: large;
	background-color: #FFD000;
}

.appContainer{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 50px;
	margin: 30px 30px 30px 30px;
	border-radius: 10px;;
	background-color: #F5F5F5;
}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.yellowFooter{
	background-color:#FFD000;
	height: 10px;
}

.blueFooter{
	background-color:#1A1446;
	height: 75px;
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.copyRight{
	color:#dddada;
	display:flex;
	margin-left: 20px;
	align-items: center;
}

.contactInfo{
	font-size:small;
	color:#dddada;
	display:flex;
	align-items: center;
	margin-right: 20px;
}